
<body background="{{asset('fondo.jpg')}}">
    <div align="center">
    <form action="{{path('reservacion_index')}}" method="POST">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <label style='background-color:#9B0000'>USUARIO</label>
        <hr/>
        <input type="text" name="user" placeholder="Ingrese Usuario">
        <hr/>
        <label style='background-color:#9B0000'>PASSWORD</label>
        <hr/>
        <input type="password" name="password" placeholder="Ingrese Password">
        <hr/>
        <input type="submit" value="Aceptar">
    </form>
    </div>    
</body>
