{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creando Empleado</h1>
    <hr/>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn btn-success"/>
    {{ form_end(form) }}

    <hr/>
            <a class="btn btn-primary " href="{{ path('empleado_index') }}">Regresar</a>     
{% endblock %}
