{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Habitación</h1>
    <hr/>
        
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-success"/>
    {{ form_end(edit_form) }}

    <hr/>   
        <a class="btn btn-primary" href="{{ path('habitacion_index') }}">Regresar</a>            
{% endblock %}
